body {
  background-color: #1d3459;
  display:flex;
}
#svg-container {
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: left; 

  width: 100%;
  height: auto; 
}



polygon.active {
  fill: white;
  opacity: 1;
}


.cls-10 {
  display: none;
}

.cls-10.active {
  display: block;
}

.info-group {
  display: none; 
}

.info-group.active {
  display: block; 
}

.hidden {
  display: none; 
}

.wrting {
  position: absolute;
  color: white;
  font-size: 15px;
  margin-left: 8vw;
  margin-top: 10vh;
}