body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #EBEBEB;
    overflow-x: hidden;
}

.background-image {
    position: relative;
    width: 100%;
    height: 95vh; /* 원하는 높이로 설정 */
    background-image: url('Pic/Main1.jpg'); /* 이미지 경로 */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* 세로로 쌓이도록 설정 */
    justify-content: center;
    align-items: center; /* 가로 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.middle-part {
    position: relative;
    width: 100%;
    height: 38vh; /* 원하는 높이로 설정 */
    margin-bottom: 50vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column; /* 세로로 쌓이도록 설정 */
    justify-content: center;
    align-items: center; /* 가로 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.Dark_Blue {
    background-color: #1d3459;
    height: 130vh; /* 원하는 높이로 설정 */
}
.dark-gray {
    background-color: #e7e7e7;
}

h1 {
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 제목이 배경과 잘 구분되도록 그림자 추가 */
    margin: 0;
}

h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 제목이 배경과 잘 구분되도록 그림자 추가 */
    margin: 0;
    margin-top: 20px;
}

h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 제목이 배경과 잘 구분되도록 그림자 추가 */
    margin: 0;
    margin-top: 100px;
}

h4 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 제목이 배경과 잘 구분되도록 그림자 추가 */
    margin: 0;
}

h5 {
    text-align: left;
    color: #454545;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 제목이 배경과 잘 구분되도록 그림자 추가 */
    margin: 0;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-bottom: -8vh;
}

#Dark_Blue {
    color:white;
}
#Dark_Blue2 {
    color:white;
}

h6 {
    text-align: left;
    color: #616161;
    font-size: 15px;
    width: 80vw;
    margin: 0;
    margin-top: -10vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
    white-space: pre-line;
}

.graph_p {
    position: absolute;
    text-align: left;
    color: #e2e2e2;
    font-size: 15px;
    width: 70vw;
    margin: 0;
    margin-top: -20vh;
    margin-left: 11vw;
    margin-bottom: 10vh;
    white-space: pre-line;
    z-index: 30;
}

.website1_p {
    text-align: left;
    color: #616161;
    font-size: 15px;
    width: 70vw;
    margin: 0;
    margin-top: -10vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
    white-space: pre-line;
}
.website2_p {
    text-align: left;
    color: #616161;
    font-size: 15px;
    width: 70vw;
    margin: 0;
    margin-top: -6vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
    white-space: pre-line;
}
.overview_p {
    text-align: center;
    color: #1d3459;
    font-size: 30px;
    width: 80vw;
    margin: 0;
    margin-bottom: 2vh;
    white-space: pre-line;
}
.overview_p2 {
    text-align: center;
    color: #1d3459;
    font-size: 15px;
    width: 65vw;
    margin: 0;
    margin-bottom: 0vh;
    white-space: pre-line;
}


.overview_p2 strong{
    font-weight: bold;
}

.proposal_t {
    text-align: left;
    color: #616161;
    font-size: 15px;
    width: 70vw;
    margin: 0;
    margin-top: -6vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
    white-space: pre-line;
}

.small-box {
    width: 50px; /* 네모의 너비 */
    height: 3px; /* 네모의 높이 */
    background-color: rgb(64, 61, 131); /* 네모의 색상 */
    margin: 10px auto; /* 상하 여백과 중앙 정렬 */
    border-radius: 2px; /* 둥근 모서리 (필요하면 제거 가능) */
}


.Proposal {
    width: 85%; /* 화면 너비의 80% */
    height: 85vh;
    background-image: url('Pic/mockup2.jpg'); /* 이미지 경로 */
    background-size: cover;
    background-position: center;
    margin-left: 5vw; /* 가로 중앙 정렬 */
    margin-top: 10vh;
    margin-bottom: 12vh;
}
/* 4:3 비율 유지 */
.iframe-container {
    position: relative;
    width: 105%; /* 화면 너비의 80% */
    padding-top: 50%; /* 4:3 비율 */
    overflow: hidden;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    margin-top: 0vh;
    margin-left: -4vw;
}

.iframe-container1 {
    position: relative;
    width: 100%; /* 화면 너비의 80% */
    padding-top: 50%; /* 4:3 비율 */
    overflow: hidden;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    margin-top: -1vh;
}

.iframe-container2 {
    position: relative;
    width: 100%; /* 화면 너비의 80% */
    padding-top: 50%; /* 4:3 비율 */
    overflow: hidden;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    margin-top: -3vh;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    transform-origin: center center; /* 스케일 기준점 */
    transform: scale(0.8); /* 스케일 조정: 필요하면 값 변경 */
    pointer-events: auto; /* iframe 내부 이벤트는 iframe만 처리 */
    overflow: hidden;     /* 부모 페이지에서 스크롤 이벤트 차단 */
}

.navigation {
    position: fixed;
    top: 2vh;
    left: 0vw;
    width: calc(100% - 0px);
    display: flex;
    justify-content: end;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    z-index: 1000;
    margin-right: 15vw;
}

.scroll-btn {
   
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 5px;
    color:#93acd8;
}

.scroll-btn:hover {
    color: #4f6181;
}

.menu {
    display: flex;
    gap: 2px;
}

.step-indicator {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    visibility: hidden;  /* 원들이 처음에는 숨겨져 있음 */
}

.step-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #4f6181;
    margin: 10px 0;
    transition: background-color 0.3s ease, border 0.3s ease;
    opacity: 0.5;
}

.step-circle.filled {
    background-color: #93acd8;  /* 채워진 원의 색 */
    border: 2px solid #8e9fbd;
    opacity: 1;
}

.Dark_Blue2 {
    display: flex;
    flex-direction: column;
    background-color: #1d3459;
    height: 100vh;
}
.threeP {
    color: #1d3459;
    font-size: 15px;
    width: 65vw;
    margin: 0;
    margin-left: 10vw;
    margin-top: 16vh;
    white-space: pre-line;
    align-items: center; /* 정중앙 배치 */
    text-align: left; /* 텍스트 왼쪽 정렬 유지 */
    font-size: 1.3em;
    color: white;
}
.Dark_Blue2 .icon-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 8vw;
    margin-top: -7vh;
    width: 100%; /* 중앙 배치 시 콘텐츠 너비 조절 */
    white-space:pre-line;
}

.Dark_Blue2 .icon-row2 {
    display: absolute;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 8vw;
    margin-top: -21vh;
    width: 100%; /* 중앙 배치 시 콘텐츠 너비 조절 */
    white-space:pre-line;
}
.Dark_Blue2 .icon-row3 {
    display: absolute;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 8vw;
    margin-top: 3vh;
    width: 100%; /* 중앙 배치 시 콘텐츠 너비 조절 */
    white-space:pre-line;
}
.Dark_Blue2 .centered-icon {
    display: flex;
    justify-content: left; /* 중간 아이콘을 중앙에 정렬 */
    margin: 20px 0; /* 위아래 간격 */
    margin-top: 8vh;
}

.Dark_Blue2 .icon {
    width: 100px; /* 아이콘 크기 */
    height: auto;
    margin-right: 10px; /* 텍스트와 아이콘 간격 */
}

.Dark_Blue2 h7 {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center; /* 헤더는 중앙 정렬 */
}


.Dark_Blue2 .graph_p {
    display: absolute;
    align-items: left;
    margin-bottom: 10px;
    margin-left: 10vw;
    margin-top: 70vh;
    width: 77vw; /* 중앙 배치 시 콘텐츠 너비 조절 */
    font-size: 15px;
}

.project-button {
    position: absolute;
    bottom: -40vh; /* 아래쪽에서 5vh 만큼 띄움 */
    padding: 10px 20px;
    background-color: #4f6181;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.project-button:hover {
    background-color: #93acd8;
    transform: scale(1.05);
}

.project-button:active {
    background-color: #3b4a62;
    transform: scale(0.95);
}

.toggle-btn {
    position: absolute;
    margin-left: 9.7vw;
    margin-top: -1.23vw;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    color: #93acd8;
    border: none;
    cursor: pointer;
    font-weight: bold;

}

.toggle-btn2 {
    position: absolute;
    margin-left: 7.2vw;
    margin-top: -1.23vw;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    color: #93acd8;
    border: none;
    cursor: pointer;
    font-weight: bold;

}

.toggle-btn:hover {
    color: #4f6181;
}
.toggle-btn2:hover {
    color: #4f6181;
}
.description-container {
    position: absolute;
    margin-top: 60vh;
    text-align: left;
    width: 80%;
    margin-left: 50vw;
    
}
.description-container2 {
    position: absolute;
    margin-top: 92vh;
    text-align: left;
    width: 80%;
    margin-left: 52.3vw;
}

.description {
    font-size: 16px;
    color: #454545;
    margin-top: -115px; /* 아래로 떨어지도록 설정 */
    transition: max-height 0.3s ease-out; /* 부드럽게 열리고 닫히도록 설정 */
    overflow: hidden; /* 숨겨진 콘텐츠는 잘림 */
    padding: 0 10px; /* 내용이 펼쳐질 때 여백 추가 */
    margin-left: -20vw;
    width: 70vw;
    text-align: center;
}

.description.open {
    max-height: 500px; /* 펼쳐질 때 충분히 큰 값을 설정 */
}


.description h6 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #1d3459;
    
}

.description p {
    margin-top: 20px;
}

.end-part {
    background-color: #EBEBEB; /* 배경색 */
    color: #375584; /* 텍스트 색상 */
    padding: 20px 10vw; /* 여백 설정 */
    
}

.divider {
    border: none;
    height: 2px;
    background-color: #375584; /* 구분선 색상 */
    margin: 20px 0; /* 구분선 여백 */
}

.footer-content p {
    text-align: left;
    margin: 10px 0;
    font-size: 1em;
    white-space:pre;
}

.Name {
    text-align: right; /* 텍스트 중앙 정렬 */
    margin: 0px 0;
    font-size: 1em;
    white-space:pre;
    margin-top: -4em;
}

.citation {
    text-align:left;

}

.Name_c {
    font-size: 1em;
    white-space:pre;
    margin-top: 5vh;
}

.Name_d {
    font-size: 1em;
    white-space:pre;
    margin-top: 1vh;
}

.citation p {
    margin-left: 0px;
    font-size: 1em;
    white-space:pre;
    margin-top: -1vh;
}

.citation p strong {
    margin-left: 0px;
    font-size: 1em;
    white-space:pre;
    color:#6d7a92;
    font-weight: normal;
   
}

.dark-gray2 {
background-color: #e7e7e7; /* 약한 회색 */
margin-bottom:-7.2vh;
padding: 20px;
width: 100%;
white-space: pre;
}

.dark-gray2 h6{
    display: flex;
    margin: 0 auto;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    font-size: 1rem;

    color: #1d3459; /* 적당한 대비를 위한 텍스트 색 */
}

.toggle-button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #666;
}

.toggle-button:hover {
    color: #000;
}

#content {
    background-color:#000;   
    margin-left : -20px;
}

.hidden-content {
    display: none;
    margin-top: 10px;
    color: #555;
    background-color:#000;
}

#content img {
    margin-top: 10px;
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin: 0 auto;
}
#content p {
    white-space: pre;
    text-align: left;
    color:#e5e5e5;
    margin-left: 3vw;
}

.visible-content {
    display: block;
}